
---
import { SITE } from 'astrowind:config';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white flex items-center gap-2">
  <img src="/src/assets/images/logo.png" alt="Logo Widows Sons" class="w-10 h-10 object-contain" />
  WIDOWS SONS <span class="text-primary">RIO URUGUAY</span>
</span>
/*
---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  🚀 {SITE?.name}
</span>
*/
