---
---
<span class="self-center ml-2 text-xl md:text-lg font-bold text-white whitespace-nowrap flex items-center tracking-tighter">
  WIDOWS SONS <span class="text-[#d4af37] ml-1.5"> RIO URUGUAY</span>
</span>
